@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-image: url("./images/'t Zeezotje-5 1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 56.313rem;
    display: flex;
}

.container {
    max-width: 73.125rem;
    width: 100%;
    display: flex;
}

.container_vertical {
    flex-direction: column;
}

.container_centered {
    justify-content: center;
    align-items: center;
}

.container_centered-vertical {
    justify-content: center;
}

.container_centered-horizon {
    align-items: center;
}

.container_space-between {
    justify-content: space-between;
}

.container_md {
    max-width: 29.375rem;
    width: 100%;
}

.nav-bar {
    display: flex;
    width: 100%;
    height: max-content;
    align-items: center;
    margin-top: 3.438rem;
    align-self: center;
}

.nav-bar_items {
    margin-left: 8.75rem;
    display: flex;
    align-items: center;
}

.nav-bar_item {
    color: white;
    text-decoration: none;
}

.nav-bar_item:not(:first-child) {
    margin-left: 2.813rem;
}

.nav-bar_item:hover {
    color: #d3b47f;
}

.phone {
    margin-left: 9.75rem;
    display: inline-flex;
    justify-content: center;
}

.phone__item {
    text-decoration: none;
    margin-left: 0.688rem;
    color: #FFFFFF;
}

.phone__item:hover {
    color: #d3b47f;
}

.icon {
    display: none;
}

.header__sub-title {
    display: block;
    color: #FFF;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0.09rem;
    margin-top: 9.625rem;
}

.header__title {
    display: block;
    color: #FFF;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.5rem;
    margin-top: 1.5rem;
}

.header__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    align-items: center;
}

.button {
    width: 16.875rem;
    height: 6.25rem;
    display: block;
    background: #3A4574;
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    outline: none;
    border: none;
}

.button:hover {
    background: #454d77;
}

.social-button {
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: center;
    background: transparent;
}

.social-button:hover {
    border: 1px solid #d3b47f;
    color: #d3b47f;
}

.social-button:not(:first-child) {
    margin-left: 1.563rem;
}

.schedule {
    padding: 5rem 0;
}

.h2-styled {
    font-weight: 600;
    line-height: 2rem;
}

.schedule-menu-item {
    display: inline-flex;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 0.625rem;
}

.h2-styled:not(:first-child) {
    margin-top: 1.25rem;
}

hr {
    margin-top: 1.25rem;
    color: #E7E7E7;
    opacity: 0.3;
    width: 100%;
}

.dot {
    min-width: 0.313rem;
    height: 0.313rem;
    display: inline-block;
    background: #d3b47f;
    border-radius: 50%;
    margin-left: 0.75rem;
}

.dot:last-child {
    margin-right: 0.75rem;
}

.images-frame {
    width: 29.438rem;
    height: 31.375rem;
    border: 2px solid #d3b47f;
    position: relative;
}

.interior-img-1 {
    position: absolute;
    top: 6.313rem;
    left: -6.063rem;
}

.interior-img-2 {
    position: absolute;
    top: -3.188rem;
    left: 15.5rem;
}

.slider-text {
    height: 48.875rem;
    background: #3A4574;
    flex-direction: column;
}

.swiper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.swiper {
    overflow-x: hidden;
}

.swiper-slide {
    text-align: center;
    font-size: 1.125rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pros {
    padding: 5rem 0;
}

.pros .container img {
    margin-top: 1.875rem;
}

.pros .container {
    position: relative;

}

.pros h2 {
    color: #000;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.5rem;
}

.decor-line {
    width: 6.75rem;
    border: 1px solid #d3b47f;
    position: absolute;
    top: 17.625rem;
    left: -3.375rem;
}

.pros p {
    margin-top: 1rem;
    color: #808080;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
}

.swiper {
    max-width: 73.125rem;
}

.slider-header {
    margin-top: 2.125rem;
    color: #D3B47F;
    text-align: center;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.5rem;
}

.slider-p {
    margin-top: 1.25rem;
    max-width: 48.625rem;
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
}

.author {
    margin-top: 2.5rem;
    color: #D3B47F;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: 0.368rem;
}

.swiper-button-next, .swiper-button-prev {
    color: white;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    color: #D3B47F;
}

.swiper-button-next_to-left {
    margin-right: .5rem;
}

.swiper-button-prev_to-right {
    margin-left: 26.25rem;
}

.slider-photo {
    background: #3A4574;
    height: 37.813rem;
    padding: 4.25rem 0;
}

.slider-photo h2 {
    color: #FFF;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.5rem;
}

.slider-photo span {
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
}

.slider-wrapper {
    width: 100%;
}

.swiper-slide img {
    display: block;
    width: 60.625rem;
    height: 40.375rem;
    margin-top: 3.125rem;
}

.swiper-slide .container {
    margin-left: 1.875rem;
}

.about-us {
    margin-top: 7.813rem;
    padding: 6.313rem 0;
}

.circle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: #D3B47F;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.about-us h2 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.5rem
}

.info {
    width: 25.25rem;
}

.info__items {
    margin-top: 2.188rem;
    align-items: center;
}

.info__item-item {
    text-decoration: none;
    color: #2e2e2e;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
}

.info__item-header {
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
}

.info__item {
    margin-left: 1rem;
}

.form {
    width: 41.875rem;
    margin-left: 6rem;
}

form {
    width: 100%;
}

.form__item {
    display: inline-block;
    max-width: 20rem;
    width: 100%;
}

label {
    display: block;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 1.813rem;
}

input, textarea {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 0 1rem;
    border: 1px solid #CCC;
    opacity: 0.7;
}

.input {
    display: block;
    height: 4.875rem;
    width: calc(100% - 2.125rem);
    outline: none;
}

.form__item:nth-child(2) {
    margin-left: 1.188rem;
}

textarea {
    width: calc(100% - 2.125rem);
    height: 5.938rem;
    padding-top: 1.75rem;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

form .button {
    margin-top: 1.25rem;
    font-family: 'Poppins', sans-serif;
}

.map {
    margin-top: 3.125rem;
}

.footer {
    margin-top: 2.5rem;
}

.footer .social-button {
    color: black;
    border: 1px solid black;
}

.social-button:hover {
    border: 1px solid #d3b47f;
    color: #d3b47f;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Mobile*/


@media (max-width: 1300px) {
    section {
        padding: 2.5rem;
    }

    .header {
        background-image: url("./images/'t Zeezotje-5 1.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 56.313rem;

    }

    .container {
        padding: 1.875rem;
    }

    /*Burger*/

    .nav-bar {
        padding: 0 2.5rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-top: 0;
        justify-content: space-between;
    }

    .nav-bar a.icon {
        background: transparent;
        color: #D3B47F;
        padding: 1rem 1rem;
        text-decoration: none;
        position: absolute;
        align-self: flex-end;
        top: 0;
    }

    .burger {
        width: 2rem;
        height: 2rem;
    }

    .nav-bar #myLinks {
        display: none;
    }

    .nav-bar a {
        color: #D3B47F;
        padding: 0.875rem 1rem;
        text-decoration: none;
        display: block;
    }
    .nav-bar a:not(:last-child) {
        border-bottom: 1px solid #D3B47F;

    }



    .logo {
        align-self: flex-start;
        transform: scale(0.8);
        margin-left: 0;
    }

    .img-logo {
        margin-left: -1.875rem;
        display: block;
    }


    .nav-bar_items {
        width: 100%;
        display: none;
        background: #FFFFFF;
        margin: 0;
    }

    .nav-bar_item:not(:first-child) {
        margin-left: 0;
    }

    .phone {
        display: flex;
        justify-content: flex-start;
        padding: 0 0.875rem;
        margin: 0;
        border-bottom: 1px solid #D3B47F;
    }

    .phone div {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #D3B47F;
    }

    .phone__item {
        margin-left: 0;
    }

}


@media (max-width: 769px) {
    section {
        padding: 2.5rem 1.25rem;
    }

    .header .container:nth-child(2) {
        height: 100%;
        justify-content: space-between;
    }

    .schedule {
        padding: 1.25rem;
        margin-top: 1.25rem;
    }

    .schedule-menu-item {
        display: inline-flex;
        justify-content: space-between;
        font-size: 1rem;
    }

    .schedule .dot:nth-child(1) {
    }

    .nav-bar a.icon {

        margin-right: 0;

    }
    .container {
        width: 100%;
        padding: 0;
    }
    .nav-bar {
        padding: 0 1.25rem;
    }
    .container_md {
        width: 100%;
        padding: 0;
    }

    .header__sub-title {
        margin-top: 7.5rem;
        font-size: 1.25rem;
    }

    .header__buttons {
        flex-direction: column-reverse;
    }

    .header__title {
        font-size: 3.25rem;
        line-height: 3.75rem;
    }

    .button {
        margin-top: 1.4rem;
    }

    .icon {
        display: block;
    }

    .social-button:not(:first-child) {
        margin-left: 1.25rem;
    }

    .schedule .container:first-child {
        flex-direction: column;
    }


    .images-frame {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .interior-img-1 {
        position: initial;
        width: 19.375rem;
        height: 28.75rem;
    }

    .interior-img-2 {
        display: none;
    }

    .dot {
        margin: 0 0.75rem;
    }

    .dot:not(:first-child) {
        display: none;
    }

    .swiper-slide .container {
        margin-left: 0;
    }

    .slider-p {
        padding: 0 2.5rem;
        font-size: 1rem;
    }

    .pros {
        padding: 3.125rem 1.25rem;
    }

    .pros .container {
        flex-direction: column;
    }

    .pros .container.reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .pros h2 {
        margin-top: 1.875rem;
    }

    .decor-line {
        top: 7.375rem;
        left: -1.25rem;
    }

    .pros img {
        max-width: 100%;
    }

    .slider-photo {
        display: none;
    }

    .about-us {
        margin-top: 0;
        padding: 1.875rem 1.25rem 5rem;
    }

    .form h2 {
        margin-top: 1.25rem;
    }

    .container_info {
        flex-direction: column;
    }

    .info {
        width: 100%;
    }

    .info__items {
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
    }

    .info__item-item {
        font-size: 1.375rem;
    }

    .circle {
        display: flex;
        min-width: 4rem;

    }
    .info__item {
        display: inline-block;
    }

    .form {
        margin-left: 0;
        margin-top: 1.25rem;

    }
    .form__item:nth-child(2) {
        margin-left: 0;
    }

    .form {
        width: 100%;
    }

    .form__item {
        max-width: 100%;
    }

    .formModal input, textarea {
        width: 100%;
    }

    .formModal .button {
        width: 100%;
    }

    #name {
        width: 100%;
    }

    #email {
        width: 100%;
    }

    .request {
        width: 100%;
    }

    .form .button {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }
    .footer img {
        margin-top: 1.25rem;
    }

}

/*Modal*/


.hystmodal__window {
    padding: 2.5rem;
}

.hystmodal__window .form__item {
    margin: 0;
}


form ._error {
 border: 1px solid red}

.formModal {
    position: relative;
    display: flex;
    flex-direction: column;

}


.formModal::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255) url("./images/Spin-1s-200px.gif") center / 3.125rem no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}

.formModal.sending::after{
    opacity: 1;
    visibility: visible;
}